.navigation {
    color: #f9f9f9;
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #f9f9f9 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .navigation:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .navigation:hover {
    background-position: 0;
  }
   
  .navigation:hover::before{
     width: 100%;
  }

  .hovered {
    color: #54b3d6;
  }